body{
  margin:0;
  background:linear-gradient(120deg,#020617,#1e293b);
  color:white;
  font-family:Arial;
  text-align:center;
}

.view{display:none;animation:fade .4s}
.active{display:block}

.hidden{display:none}

.card{
  background:#111827;
  margin:20px auto;
  padding:20px;
  max-width:300px;
  border-radius:12px;
}

input,button{
  width:90%;
  padding:10px;
  margin:6px;
  border:none;
  border-radius:6px;
}

button{background:#6366f1;color:white}

@keyframes fade{
  from{opacity:0;transform:translateY(10px)}
  to{opacity:1}
}
